[Unit]
Description=sbPowerGauge

[Service]
ExecStart=/bin/bash /opt/rGauge/sbPowerGauge/autoStart
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sbPowerGauge
User=root
Group=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/rGauge/sbPowerGauge

[Install]
WantedBy=multi-user.target